@charset "ISO-8859-1";


.hero-page{
	background-color: #23424A;
	color:white;
	padding:50px;
}

input{
	margin-bottom: 1rem;
}

.btnSubmit{
	padding:1rem 1.5rem;
}

.numbers{
	margin-left: 1rem;
}